<head>
    <link href="/css/profile.css" rel="stylesheet" />
</head>
    <%- include('./partials/header' , {user}) %>
<div class="profile-header">
    <div class="profile_image">
        <label for="file-input">
            <img src="/images/<%= person.profile_image %>"/>
        </label>
            
        <input id="file-input" type="file" class="file-input" />
    </div>
    <div class="follow_btn">
        <button class="btn btn-profile btn-small"><i class="fa fa-ellipsis-h"></i></button>
        <button class="btn btn-profile">Follow</button>
    </div>
</div>
<div class="profile-content">
    <b><%= person.name %></b>
    <a href="#"><%= person.user_name %></a>
    <span><b>103</b>Following</span>
    <span><b>56.7M</b>Follower</span>
</div>
<div class="posts">
    <% if(typeof posts != 'undefined'){ %>
        <div class="posts">
            <% posts.forEach(post=>{  %>
            <div class="post">
                <div class="post-header">
                    <img src="/images/<%= post.profile_image %>" alt="user-profile" />
                    <a href="#"><%= post.user_name %></a>
                </div>
                <div class="post-content">
                    <br>
                    <% if(post.media_name){ %>
                        <img class="post-img" src="/images/posts/<%= post.media_name %>" >
                    <% } %>    
                    <p><%= post.content %></p>
                    <br>
                    <br>
                    <p>posted <%= getTime(post.created_at) %> ago</p>
                    <br>
                </div>
                <div class="post-footer">
                    <a href="#"><i class="far fa-heart"></i></a>
                    <form action="" method="POST">
                        <input class="comment-input" type="text" />
                        <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            <% }) %>
        </div>
        <% } %>
</div>
    <%- include('./partials/footer') %>

<script src="/js/index.js"></script>
