<head>
    <link href="/css/login.css" rel="stylesheet" />
    <style>
        .main-modal{
            flex-direction: row-reverse;
        }
    </style>
</head>
    <div class="main-modal">
        <div class="login-section">
            <h1><i class="fas fa-user-plus"></i> Register</h1>
            <%- include('./partials/messages') %>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label>Username:</label>
                    <input class="input" type="text" name="username" placeholder="Username" value="<%= typeof username != 'undefined' ? username : '' %>" />
                </div>
                <div class="form-group">
                    <label>Name:</label>
                    <input class="input" type="text" name="name" placeholder="Name" value="<%= typeof name != 'undefined' ? name : '' %>" />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input class="input" type="email" name="email" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input class="input" type="password" name="password" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
                </div>
                <input class="btn btn-secondary" type="submit" value="submit"/>
            </form>
            <div class="question">
                <h4>Have an account?</h4><a href="/users/login">Login</a>
            </div>
        </div>
        <div class="login-img">
            <img src="/images/Wavy_Gen-01_Single-07.jpg" alt="login-image">
        </div>
    </div>
